name: e2e
on:
  push:
    branches:
      - main
env: 
  AWS_REGION: us-east-1
  DOMAIN: actions-aws-website.realsense.ca
permissions: 
  id-token: write
jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ROLE_ARN }}
          role-session-name: ${{ github.repository_owner }}-${{ github.actor }}
      - uses: alonch/actions-aws-backend-setup@main
        with: 
          instance: demo
      - uses: alonch/actions-aws-website@main
        id: website
        with: 
          domain: ${{ env.DOMAIN }}
          content-path: public
  plan:
    needs: apply
    runs-on: ubuntu-latest
    environment: 
      url: https://${{ steps.website.outputs.domain }}
      name: "production"
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ROLE_ARN }}
          role-session-name: ${{ github.repository_owner }}-${{ github.actor }}
      - uses: alonch/actions-aws-backend-setup@main
        with: 
          instance: demo
      - uses: alonch/actions-aws-website@main
        id: website
        with: 
          domain: ${{ env.DOMAIN }}
          action: plan
  test: 
    needs: apply
    runs-on: ubuntu-latest
    steps:
      - name: health check
        run: |
          status_code=$(curl -o /dev/null -s -w "%{http_code}" https://${{ env.DOMAIN}})
          if [ "$status_code" -ne 200 ]; then
            exit 1
          fi
      
  # destroy:
  #   needs: plan    
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out repo
  #       uses: actions/checkout@v4
  #     - uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         aws-region: us-east-1
  #         role-to-assume: ${{ secrets.ROLE_ARN }}
  #         role-session-name: ${{ github.repository_owner }}-${{ github.actor }}
  #     - uses: alonch/actions-aws-backend-setup@main
  #       with: 
  #         instance: demo
  #     - uses: alonch/actions-aws-website@main
  #       id: website
  #       with: 
  #         domain: ${{ env.DOMAIN }}
  #         action: destroy